@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.layout-default {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-default>*:last-child {
  background-color: #DCDCDC;
}