@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.layout-default {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

}

.content-container {
  position: relative;
  flex: 1;
  background: url("./assets/background-opacity.png") repeat;
}

input.form-control {
  width: 222px !important;
  height: 56px !important;
}